*{
    padding: 0;
    margin: 0;
    font-family: noto sans;
    overflow-x: hidden;
}


.above{
    position: relative;
    z-index: 1;
}

.main{
    height: 100vh;
    background-image: url(assets/images/background.jpg);
    background-size: cover;
    position: relative;
}

nav{
    height: 90px;
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    color: red;
    width: 150px;
}

nav button{
    gap: 5px;
    height: 35px;
    width: 90px;
    color: white;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 5px;
    font-weight: 600;
}

#lang{
    background: transparent; 
}

#sign{
    background-color: red;
}

.main .upper{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    opacity: 0.75;
    background-color: black;
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 80%;
}

.welcome span:first-child, span:nth-child(2){
    font-weight: 900;
    font-size: 7.56vh;
}

.welcome span:nth-child(4){
    font-size: larger;
    font-weight: 600;
}

.welcome span:last-child{
    display: flex;
    gap: 10px;
}

.welcome span div{
    display: flex;
    font-weight: 700;
    font-size: larger;
    background-color: red;
    justify-content: center;
    align-content: center;
    padding: 10px;
    border-radius: 4px;
}

#holder{
    width: 25vw;
    background: transparent;
    padding: 10px;
}

.curve{
    top: 13px;
    height: 50px;
    border: 2px solid red;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top-left-radius: 50% 75%;
    border-top-right-radius: 50% 75%;
    background: radial-gradient(rgb(1, 1, 61), black), black;
}

main{
    color: white;
    background-color:black;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

main span:nth-child(3){
    display: flex;
    gap: 30px;
}

main span:nth-child(3) div:first-child{
    object-fit: contain;
    overflow: hidden;
}

@media (max-width: 670px) {

    .main{
        height: 95vh;
    }

    .welcome{
        padding: 10px;
    }

    .welcome span{
        text-align: center;
    }

    nav{
        height: 50px;
    }

    nav img{
        width: 50px;
    }
}